/* ===========================
--- General sections
============================ */
.laB_home-section{
    padding-top: 20px;
    padding-bottom: 50px;
	display:block;
    position:relative;
    z-index:120;
}
container{
	
}
.la_subject{
	  padding-bottom: 0;	
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* === testimonial slide === */

.testimonialslide {
	text-shadow:1px 1px 1px #000;
}

.testimonialslide a{
	text-decoration:none;
	
}
.testimonialslide ul li blockquote {
	color: #fff;
	border-left: none;
	margin-bottom:0px;
	margin-bottom:0px;
}

.testimonialslide ul li h4 {
	color: #fff;
	font-weight: 300;
	font-size:1.2em;
}

/* ==========================
Parallax
============================= */

#parallax{	
	background-image: url(../img/1.jpg);
}

#parallax:after {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}


@media (max-width:480px) {
.testimonialslide ul li h4 {
		font-size:0.8em;	
}
	
}