@charset "utf-8";

.news_ticker{height:19px; margin:0; padding:0; overflow:hidden; list-style:none;}
.news_ticker li{height:14px; margin:0; padding:0}
.news_ticker a{line-height:1.2; font-size:13px; color:#333; text-decoration:none}
.news_ticker a:hover{color:#d42d17}
.news_ticker .category{color:#888}
.news_ticker .author{font-weight:bold}
.news_ticker .date{font-family:Verdana; color:#ea5859}
.news_ticker .news_arrow{display:inline-block; border-left:9px solid #ea5859; border-top:5px solid transparent; border-bottom:5px solid transparent; height:0; width:0}

/* 색상변경 
.news_ticker .date{color:#3576a1}
.news_ticker .news_arrow{border-left-color:#3576a1}
*/