@charset "utf-8";

/* 탭 웹진형 새글 스킨 (latest) */
#tabzin {}
#tabzin * {margin:0;padding: 0;} 
#tabzin div { margin:5px; }
#tabzin ul { list-style-type:none;width:490px; } 
#tabzin h3 { font-family:"dotum";font-size:1.2em;font-weight:bold }
#tabzin li img { float:left;border:1px solid #ccc;padding:3px;margin: 0 15px 0 0;}

#tabzin li p { font-size:0.99em;} 
#tabzin li { border-bottom:1px dotted #b2b2b2; padding: 10px; overflow: auto;}
#tabzin li a { text-decoration: none; }
#tabzin li:hover { background: #eee; cursor: pointer;}