@charset "utf-8";

/* 새글 스킨 (latest) */
#tablist { background: rgb(255, 255, 255); margin-top:10px; padding: 0px 12px; width: 490px; position: relative; }
.list-tab { margin-bottom: 20px; float: left; }
.list-tab ul { margin: 0px 0px; }
.list-tab li { width: 477px; height: 36px; float: left; border-bottom:1px dotted #b2b2b2; border-left-width: 3px; display: inline; }
.list-tab li a { padding: 0px 12px; color: rgb(102, 102, 102); line-height: 36px; font-size: 14px; border-left-color: rgb(255, 255, 255); border-left-width: 3px; border-left-style: solid; display: block; }
.list-tab li a:hover { width: 450px; background: rgb(246, 246, 246); color: rgb(51, 153, 0); text-decoration: none; border-left-color: rgb(118, 118, 118); border-left-width: 3px; border-left-style: solid; }
.list-tab li span { margin: -25px 16px 0px 0px; color: rgb(204, 204, 204); font-size: 12px; float: right; }
.list-tab .line { padding-bottom: 10px; margin-bottom: 10px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dashed; }