@charset "utf-8";

/* 탭 겔러리형 새글 스킨 (latest) */
#tabgall * { margin: 0; padding: 0; }
#tabgall div { width: 500px; margin: 0 auto; overflow: auto; }
#tabgall ul { list-style-type: none; }

#tabgall .imgbox li {float:left;border:1px solid #ccc;padding:3px;margin: 0 15px 0 0;}
#tabgall li img { float: left; margin: 9.8px; padding:4px; border: 1px solid #d7d7d7; -webkit-transition: box-shadow 0.5s ease; 
-moz-transition: box-shadow 0.5s ease; -o-transition: box-shadow 0.5s ease; -ms-transition: box-shadow 0.5s ease; 
transition: box-shadow 0.5s ease; }

#tabgall li img:hover { -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9); box-shadow: 0px 0px 7px rgba(255,255,255,0.9); }



