@charset "utf-8";
/* 작성 로빈아빠 howcode.co.kr */

#ar_weather {
	font-size:1em;
	width:230px;
}

#ar_weather .info {
	color:#333;
	text-align:right;
    font-family: '맑은고딕','맑은 고딕', 'Malgun Gothic','나눔고딕', 'NanumGothic','NanumGothicWeb','Dotum','sans-serif';
	font-size:12px;
}


#ar_weather .map {
	border:1px solid #d9d9d9;
	position: relative;
    background:#EEF3F5;
	height:295px;
	background-image: url("map_sub4.png");
	background-repeat: no-repeat;
	background-position: center; 
}


#ar_weather .map .zone {
    position: absolute;
    width: 50px;
    height: 90px;
    z-index: 10;
    text-align: center;
	line-height:0px;
	display:inline-block;
	font-size:11px;
	color:red;
}

#ar_weather .map .zone img {margin-bottom:-10px;}

#ar_weather .map .area1 {left:-5px;top:59px}
#ar_weather .map .area2 {left:43px;top:43px}
#ar_weather .map .area3 {left:93px;top:24px}
#ar_weather .map .area4 {left:140px;top:36px}
#ar_weather .map .area5 {left:180px;top:74px}
#ar_weather .map .area6 {left:34px;top:103px}
#ar_weather .map .area7 {left:86px;top:93px}
#ar_weather .map .area8 {left:137px;top:100px}
#ar_weather .map .area9 {left:31px;top:180px}
#ar_weather .map .area10 {left:78px;top:150px}
#ar_weather .map .area11 {left:133px;top:173px}
#ar_weather .map .area12 {left:13px;top:238px}

